# Default values for scp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Some yaml anchor definitions for convenience
## @section Common parameters - used as yaml anchors
commonParams:
  ## @param commonParams.attrEndpoint Interal attribute service endpoint
  attrEndpoint: &attrEndpoint "http://attributes:4020"
  ## @param commonParams.disableTracing Disable OTEL Tracing
  disableTracing: &disableTracing "true"
  ## @param commonParams.entitlementPolicyBundleRepo entitlement OPA Bundle Repo
  entitlementPolicyBundleRepo: &entitlementPolicyBundleRepo "scp-docker-registry:5000/entitlements-policybundle"
  ## @param commonParams.entitlementPolicyBundleTag entitlement OPA Bundle tag
  entitlementPolicyBundleTag: &entitlementPolicyBundleTag 0.0.2
  ## @param commonParams.entilementPolicyOCIRegistryUrl OPA policy endpoint
  entilementPolicyOCIRegistryUrl: &entilementPolicyOCIRegistryUrl "https://scp-docker-registry:5000"
  ## @param commonParams.scpImagePullSecretName common pull secret name
  scpImagePullSecretName: &scpImagePullSecretName "scp-pull-secret"
  imagePullSecrets: &imagePullSecrets
    ## @param commonParams.imagePullSecrets[0].name name of pull secret
    - name: *scpImagePullSecretName

## @section Name Parameters
## @param nameOverride Chart name override
nameOverride: ""
## @param fullnameOverride Chart full name override
fullnameOverride: ""

## @section Embedded Service Deployment
embedded:
  ## @param embedded.keycloak  Use an embedded keycloak or not
  keycloak: true
  ## @param embedded.postgresql  Use an embedded postgres or not
  postgresql: true

## @section Keycloak bootstrap parameters
bootstrap:
  ## @param bootstrap.keycloak Should keycloak bootstrap be enabled
  keycloak: true
  configsvc:
    ## @param bootstrap.configsvc.enabled Enable configuration service artifact bootstrapping
    enabled: true
    job:
      ## @param bootstrap.configsvc.job.name Name of the job
      name: configsvc-bootstrap
      image:
        ## @param bootstrap.configsvc.job.image.repo Image repository
        repo: ghcr.io/virtru-corp/postman-cli/opcr-policy
        ## @param bootstrap.configsvc.job.image.tag Image tag
        tag: sha-531eea2
        ## @param bootstrap.configsvc.job.image.pullPolicy Image pull policy
        pullPolicy: IfNotPresent
      ## @param bootstrap.configsvc.job.backoffLimit Job backoff limit
      backoffLimit: 5
      ## @param bootstrap.configsvc.job.configVolumeSecretRefName Secret name used to mount configuration artifacts used by the job
      configVolumeSecretRefName: scp-bootstrap-configsvc
      ## @param bootstrap.configsvc.job.envSecretRef secret for environment variables
      envSecretRef:
  ## @param  bootstrap.configPath The path to the install configuration file (relative to the chart directory)
  configPath:
  ## @param bootstrap.entitlementPolicy Should entitlement policy be bootstrapped
  entitlementPolicy: true

## @section Ingress Configuration
ingress:
  ## @param ingress.existingGateway Use an existing istio gateway
  existingGateway:
  ## @param ingress.gatewaySelector Name of istio gateway selector
  gatewaySelector: ingress
  ## @param ingress.name Name base for istio resources
  name: scp

global:
  ## @skip global.opentdf
  opentdf:
    common:
      oidcExternalBaseUrl: https://scp.virtrudemos.com
      oidcInternalBaseUrl: http://keycloak-http
      oidcUrlPath: auth
      ingress:
        scheme: "https"
        hostname: "scp.virtrudemos.com"
      postgres:
        # -- postgres server's k8s name or global DNS for external server
        host: postgresql
        # -- postgres server port
        port: 5432
        # -- The database name within the given server
        database: tdf_database

## @section ABACUS Chart Overrides
abacus:
  ## @param abacus.enabled abacus enabled flag
  enabled: true
  ## @param abacus.basePath path to abcus
  basePath: "/abacus"
  ## @param abacus.fullnameOverride Override name of abacus
  fullnameOverride: abacus
  ## @skip abacus.ingress
  ingress:
    enabled: false

## @section Access-PEP Chart Overrides
access-pep:
  ## @param access-pep.enabled Enable access-pep flag
  enabled: true
  ## @param access-pep.name Name override
  name: access-pep
  ## @param access-pep.existingImagePullSecret Existing pull secret for the image
  existingImagePullSecret: *scpImagePullSecretName
  image:
    ## @param access-pep.image.repo Image Rep
    repo: ghcr.io/virtru-corp/access-pep/access-pep
    ## @param access-pep.image.tag Image tag
    tag: sha-cac697c
  config:
    ## @param access-pep.config.disableTracing disable tracing flag
    disableTracing: *disableTracing
    ## @param access-pep.config.attrAuthorityHost Attribute Service Endpoint
    attrAuthorityHost: *attrEndpoint
    ## @param access-pep.config.entitlementPdpHost entitlement pdp endpoint
    entitlementPdpHost: "http://entitlement-pdp:3355"
    ## @param access-pep.config.keycloakAttrAuthorityClientID OIDC client id
    keycloakAttrAuthorityClientID: "tdf-client"
    ## @param access-pep.config.keycloakAttrAuthorityClientSecret Sets client secret to empty - to be overridden by secret
    keycloakAttrAuthorityClientSecret:

## @section Attribute Chart Overrides
attributes:
  ## @param attributes.fullnameOverride Attribute Service Name Override
  fullnameOverride: attributes
  ## @param attributes.secretRef Secrets for environment variable injection
  secretRef: |-
    name: scp-attributes-secret

## @section Configuration Chart Overrides
configuration:
  ## @param configuration.enabled Configuration Service enabled flag
  enabled: true
  ## @param configuration.fullnameOverride Configuration svc name override
  fullnameOverride: configuration
  server:
    image:
      ## @param configuration.server.image.tag Configuration Service Image Tag
      tag: 0.3.5
    ## @param configuration.server.secretRef Configuration Service Secrets Ref
    secretRef: |-
      name: scp-configsvc
    postgres:
      ## @param configuration.server.postgres.host hostname of postgres
      host: postgresql
      ## @param configuration.server.postgres.password password for postgres - should not be set
      password:
    ## @skip configuration.server.imagePullSecrets[0].name
    imagePullSecrets: *imagePullSecrets

## @section Entitlement Policy Bootstrap Job parameters
entitlement-policy-bootstrap:
  ## @param entitlement-policy-bootstrap.policyGlobPattern The Glob Pattern to the entitlement policy source data . e.g. rego + data.json
  policyGlobPattern: "configs/fed-demo/entitlement-policy/*"
  ## @param entitlement-policy-bootstrap.bundleRepo Bundle repository
  bundleRepo: *entitlementPolicyBundleRepo
  ## @param entitlement-policy-bootstrap.bundleTag Bundle Tag
  bundleTag: *entitlementPolicyBundleTag
  ## @param entitlement-policy-bootstrap.OCIRegistryUrl URL of OCI registry to publish to
  OCIRegistryUrl: *entilementPolicyOCIRegistryUrl
  ## @param entitlement-policy-bootstrap.policyConfigMap Config map name used to inject env varibles into the job
  policyConfigMap: scp-bootstrap-entitlement-cm
  ## @param entitlement-policy-bootstrap.policyDataSecretRef Secret name used to mount policy artifacts into the job
  policyDataSecretRef: scp-bootstrap-entitlement-policy
  ## @skip entitlement-policy-bootstrap.imagePullSecrets[0].name
  imagePullSecrets: *imagePullSecrets
  image:
    ## @param entitlement-policy-bootstrap.image.tag ocpr container tag
    tag: sha-531eea2

## @section Entitlement PDP Chart Overrides
entitlement-pdp:
  ## @param entitlement-pdp.fullnameOverride  Entitlement PDP name override
  fullnameOverride: entitlement-pdp
  opaConfig:
    policy:
      ## @param entitlement-pdp.opaConfig.policy.useStaticPolicy Use static policy flag - false to pull from oci registry
      useStaticPolicy: false
      ## @param entitlement-pdp.opaConfig.policy.allowInsecureTLS Allow insecure comms to oci registry
      allowInsecureTLS: true
      ## @param entitlement-pdp.opaConfig.policy.OCIRegistryUrl OCI registry url
      OCIRegistryUrl: *entilementPolicyOCIRegistryUrl
      ## @param entitlement-pdp.opaConfig.policy.bundleRepo OCI Bundle Repo
      bundleRepo: *entitlementPolicyBundleRepo
      ## @param entitlement-pdp.opaConfig.policy.bundleTag OCI bundle tag
      bundleTag: *entitlementPolicyBundleTag
  config:
    ## @param entitlement-pdp.config.disableTracing Disable tracing flag
    disableTracing: *disableTracing
  ## @param entitlement-pdp.secretRef Secrets for env variables.
  secretRef: |-
    name: scp-entitlement-pdp-secret

## @section Entitlement Store Chart Overrides
entitlement-store:
  ## @param entitlement-store.fullnameOverride Entitlement Store name override
  fullnameOverride: entitlement-store
  ## @param entitlement-store.secretRef Secrets for environment variables
  secretRef: |-
    name: scp-entitlement-store-secret

## @section Entitlement Chart Overrides
entitlements:
  ## @param entitlements.fullnameOverride Entitlements Name Override
  fullnameOverride: entitlements
  ## @param  entitlements.secretRef Entitlements Secrets for environment variables
  secretRef: |-
    name: scp-entitlements-secret    

## @section Entity Resolution Chart Overrides
entity-resolution:
  ## @param entity-resolution.fullnameOverride Entity Resolution Name override
  fullnameOverride: entity-resolution
  config:
    ## @param entity-resolution.config.disableTracing Disable Tracing Flag
    disableTracing: *disableTracing
    keycloak:
      ## @param entity-resolution.config.keycloak.legacy Legacy Keycloak Tracing Flag
      legacy: true

## @section KAS Chart Overrides
kas:
  ## @param kas.fullnameOverride  KAS Name Override
  fullnameOverride: kas
  endpoints:
    ## @param kas.endpoints.attrHost Attributes hostname accessible to KAS
    attrHost: *attrEndpoint
  pdp:
    ## @param kas.pdp.verbose Verbose Logging Flag
    verbose: "true"
    ## @param kas.pdp.disableTracing  Disable tracing flag
    disableTracing: *disableTracing

## @section Keycloak Chart Overrides
keycloak:
  ## @param keycloak.fullnameOverride keycloak name override
  fullnameOverride: keycloak
  image:
    ## @param keycloak.image.repository Keycloak Image Repo
    repository: ghcr.io/opentdf/keycloak
    ## @param keycloak.image.tag Keycloak Image Tag
    tag: main
    ## @param keycloak.image.pullPolicy Keycloak Image pull policy
    pullPolicy: IfNotPresent
  ## @param keycloak.command Command to start the keycloak service
  command:
    - "/opt/keycloak/bin/kc.sh"
    - "--verbose"
    - "start-dev"
    - "--http-relative-path"
    - "/auth"
  postgresql:
    ## @param keycloak.postgresql.enabled Use keycloak deployed postgres flag
    enabled: false
  externalDatabase:
    ## @param keycloak.externalDatabase.database Database name
    database: keycloak_database
  ## @param keycloak.extraEnv Extra environment variables.
  extraEnv: |-
    - name: CLAIMS_URL
      value: http://entitlement-pdp:3355/entitlements
    - name: JAVA_OPTS_APPEND
      value: -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless
    - name: KC_DB
      value: postgres
    - name: KC_DB_URL_PORT
      value: "5432"
    - name: KC_LOG_LEVEL
      value: INFO
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_HOSTNAME_STRICT_BACKCHANNEL
      value: "false"
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "false"
    - name: KC_HOSTNAME_URL
      value: {{ ( include "keycloak.externalUrl" . ) | quote }}
    - name: KC_HOSTNAME_ADMIN_URL
      value: {{ ( include "keycloak.externalUrl" . ) | quote }}
    - name: KC_HTTP_ENABLED
      value: "true"
    - name: KC_FEATURES
      value: "preview,token-exchange"
  ## @param keycloak.extraEnvFrom Extra Environment From Reference YAML
  extraEnvFrom: |-
    - secretRef:
        name: scp-keycloak-secret

## @section Keycloak Bootstrap Chart Overrides
keycloak-bootstrap:
  entitlements:
    ## @param keycloak-bootstrap.entitlements.hostname Entitlement svc hostname
    hostname: http://entitlements:4030
    ## @param keycloak-bootstrap.entitlements.realms Entitlement override realms
    realms: null
  ## @param keycloak-bootstrap.existingConfigSecret Secret name used to Mount bootstrapping data
  existingConfigSecret: scp-keycloakbootstrap-config
  ## @param keycloak-bootstrap.secretRef Secret for bootstrap job env variables.
  secretRef: |-
    name: scp-keycloakbootstrap-secret
  attributes:
    ## @param keycloak-bootstrap.attributes.hostname Attribute service endpoint accessible to boostrap job
    hostname: *attrEndpoint
    ## @param keycloak-bootstrap.attributes.realm Realm for OIDC client auth to attribute service
    realm: tdf
    ## @param keycloak-bootstrap.attributes.clientId OIDC client ID used to auth to attribute service
    clientId: dcr-test

## @section Docker Registry Configuration
docker-registry:
  ## @param docker-registry.enabled Enable docker registry
  enabled: true
  persistence:
    ## @param docker-registry.persistence.enabled Persistence Enabled Flag
    enabled: true
    ## @param docker-registry.persistence.size Size of volume
    size: 1Gi
  ## @param docker-registry.tlsSecretName Secret name containing TLS Certs used by the registry
  tlsSecretName: scp-docker-registry-certs

## @section Postgresql Chart Overrides
postgresql:
  ## @param postgresql.fullnameOverride Postgresql Name override
  fullnameOverride: postgresql
  image:
    ## @param postgresql.image.debug Debug Flag
    debug: true
    ## @param postgresql.image.tag Image Tag
    tag: "11"
  auth:
    ## @param postgresql.auth.existingSecret Existing secret for postgres auth settings
    existingSecret: >
      {{ include "postgresql.primary.fullname" . }}-secret
  primary:
    initdb:
      ## @param postgresql.primary.initdb.user user for init script execution
      user: postgres
      ## @param postgresql.primary.initdb.scriptsSecret Secret containing init db scripts
      scriptsSecret: >
        {{ include "postgresql.primary.fullname" . }}-initdb-secret

## @section Secret Generation Parameters
secrets:
  ## @param secrets.enabled Generate secrets from the values provided below.  If false, another bootstrapping
  # mechanism for secrets is required.
  enabled: true
  postgresql:
    ## @param secrets.postgresql.dbPassword password for postgres user
    dbPassword:
  attributes:
    ## @param secrets.attributes.clientSecret oidc client secret used by attributes svc to auth to idp and enforce svc authorization
    clientSecret:
    ## @param secrets.attributes.dbPassword postgres password for attributes svc user
    dbPassword:
  configuration:
    ## @param secrets.configuration.dbPassword postgres password for config svc user
    dbPassword:
  entitlementStore:
    ## @param secrets.entitlementStore.dbPassword postgres password for entitlement-store svc user
    dbPassword:
  entitlements:
    ## @param secrets.entitlements.clientSecret oidc client secret used by entitlements svc to auth to idp and enforce svc authorization
    clientSecret:
    ## @param secrets.entitlements.dbPassword postgres password for entitlements svc user
    dbPassword:
  keycloak:
    ## @param secrets.keycloak.dbPassword postgres password for keycloak svc user
    dbPassword:
    ## @param secrets.keycloak.adminUsername keycloak admin user's username
    adminUsername:
    ## @param secrets.keycloak.adminPassword Keycloak admin user's password
    adminPassword:
  keycloakBootstrap:
    ## @param secrets.keycloakBootstrap.attributesUsername username for attribute service auth
    attributesUsername:
    ## @param secrets.keycloakBootstrap.attributesPassword password for attribute service auth
    attributesPassword:
    ## @param secrets.keycloakBootstrap.users list of users to be added [{"username":"","password":""}]
    users:
    ## @param secrets.keycloakBootstrap.clients list of custom oidc clients added [{"clientId":<>,"clientSecret":"","audienceMappers":["aud]}]
    clients:
    ## @param secrets.keycloakBootstrap.clientSecret client secret assigned to standard bootstrapper clients
    clientSecret:
    ## @param secrets.keycloakBootstrap.customConfig Override for custom config to none
    customConfig: null
  ## @param secrets.opaPolicyPullSecret oci registry pull secret for OPA policy
  opaPolicyPullSecret:
  ## @skip secrets.imageCredentials[0]
  imageCredentials:
    - name: scp-pull-secret
      registry: ghcr.io
      username: username
      password: password
      email: nope@nah.com

## @section Tagging PDP Chart Overrides
tagging-pdp:
  ## @param tagging-pdp.enabled enabled flag
  enabled: true
  ## @param tagging-pdp.fullnameOverride override name
  fullnameOverride: tagging-pdp
  image:
    ## @param tagging-pdp.image.tag Tagging PDP Image Tag
    tag: sha-470efff
    ## @skip tagging-pdp.image.pullSecrets[0].name
    pullSecrets: *imagePullSecrets
  gateway:
    ## @param tagging-pdp.gateway.enabled Tagging PDP Rest Gateway enabled flag
    enabled: true
    ## @param tagging-pdp.gateway.pathPrefix tagging-pdp svc prefix
    pathPrefix: tagging-pdp
    ## @skip tagging-pdp.gateway.image
    image:
      tag: sha-e28d7ee

## @param tdfAdminUsername The admin user created for tdf.
tdfAdminUsername: tdf-admin