# -- Number of pod replicas to deploy for high availability.
replicaCount: 2  

# -- Image repository for the gateway.
image:
  repository: containers.virtru.com/gateway  
  pullPolicy: Always 
  # -- Optional override for image tag; defaults to Chart.yaml's appVersion.
  tag: "" 

# -- Optional: Override the default name of the chart and release.
nameOverride: ""  
fullnameOverride: ""  

# -- Determines if a Service Account should be created. Defaults to false.
serviceAccount:
  create: false  
  # -- Optional: Annotations to add to the service account.
  annotations: {}
  # -- Name of the service account to use; defaults to empty. If not set and create is true, a name is generated.
  name: ""  

# -- Optional additional annotations for the pod. Defaults to emptyfor flexibility.
podAnnotations: {} 

# -- Security context settings for the pod. Defaults to empty for flexibility.
podSecurityContext: {}  
  # fsGroup: 2000  ## Optional file system group ID.

# -- Security context settings for individual containers. Defaults to empty for flexibility.
securityContext: {}  
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Service type to be created. Defaults to LoadBalancer.
service:
  type: LoadBalancer  
  # -- Defaults to port 25 for SMTP traffic.
  port: 25 


# -- Enable or disable Kubernetes ingress resource. Defaults to false.
ingress:
  enabled: false  

# -- Resource requests and limits for the containers. Defaults to empty for flexibility.
resources: {}  
  # limits:
  #   cpu: 500m
  #   memory: 500Mi
  # requests:
  #   cpu: 500m
  #   memory: 500Mi

# -- Optional: Node selection constraints for scheduling pods.
nodeSelector: {}  

# -- Optional: Tolerations for taints on nodes.
tolerations: []  

# -- Optional: Affinity rules for pod scheduling.
affinity: {} 

# -- Enable horizontal pod autoscaling. Defaults to false.
autoscaling:
  enabled: false 
  # -- Minimum number of replicas if autoscaling is enabled. 
  minReplicas: 1  
  # -- Maximum number of replicas if autoscaling is enabled.
  maxReplicas: 100  
  # -- Target average CPU usage across pods.
  # -- Optional target average memory usage.
  targetCPUUtilizationPercentage: 80  
  # targetMemoryUtilizationPercentage: 80  

# -- Defines which gateway mode(s) to deploy. 
# -- Each enabled mode becomes a separate deployment, service, and configmap.
gatewayModes:  
  outboundEncrypt:
    enabled: true  
    name: outbound-encrypt  
    port: 9001 
  outboundDecrypt:
    enabled: false
    name: outbound-decrypt
    port: 9002
  inboundEncrypt:
    enabled: false
    name: inbound-encrypt
    port: 9003
  inboundDecrypt:
    enabled: false 
    name: inbound-decrypt
    port: 9004
  outboundDlp:
    enabled: false
    name: outbound-dlp
    port: 9005
  inboundDlp:
    enabled: false
    name: inbound-dlp
    port: 9006

# -- This will create a persistent volume for each 
# -- enabled gateway mode. This will keep your postfix queue 
# -- intact when pods are destroyed and recreated. You can modify
# -- the size of the volume below.
persistentVolumes:
  # -- Name of the Kubernetes StorageClass to use.
  storageClassName: standard 
  # -- Size of the persistent volume per mode deployment. Defaults to 1Gi.
  volumeSize: 1Gi  

# -- Environment Variables. For descriptions of all variables, see the README.md file
# -- URL for Virtru Accounts API.
gatewayAccountsUrl: https://api.virtru.com/accounts  
# -- URL for Virtru ACM API.
gatewayAcmUrl: https://api.virtru.com/acm  
# -- URL for remote content used by the gateway.
gatewayRemoteContentBaseUrl: https://secure.virtru.com/start  

# -- Customer-specific values. 
# -- Refer to https://support.virtru.com/hc/en-us/articles/6204097329175-Reference-Kubernetes-Variables for details on variables used.
standardConfig:
  # -- Hostname used by the gateway.
  gatewayHostname: example.com  
  # -- Primary mailing domain for the Gateway.
  primaryMailingDomain: example.com  
  # -- Next hop for Virtru gateway, typical mail flow is: mail server => Virtru gateway => back to your mail server => final delivery
  gatewayTransportMaps: "*=>[smtp-relay.gmail.com]:587"  
  # -- IPs allowed to relay mail into the gateway.  See README.md for Google or Microsoft relaying IPs.
  # -- Default is open and to lock down firewall on the VPC
  inboundRelayAddresses: 0.0.0.0/0  
  # -- Optional: Enable inbound x-header-based authentication. Set to false if not using inbound header authentication.
  # -- Secret managed in appSecrets.headers
  headers:
    xHeaderAuthEnabled: true  

# -- Default secrets required for gateway operation. 
# -- By default, you can create secrets using the keys below.
# -- Important note: Creating secrets in this way is a default option.
# -- While a simpler approach with fewer variables, it is recommended you use
# -- a third party secret storage option.
appSecrets:  
  # -- Token used for Amplitude analytics. Provided by Virtru.
  amplitudeToken: <your-amplitude-token>  
  # -- Name of the token used to authenticate API calls. Provided by Virtru.
  gatewayApiTokenName: <your-api-token>  
  # -- Secret value of the API token. Provided by Virtru.
  gatewayApiSecret: <your-api-secret>  
  saslAuth:
     # -- Optional: SMTP credentials for downstream authentication.
    smtpDownstream:
      # -- Only configure if additionalConfig.saslAuth.smtpDownstream.enabled == true
      accounts: <your-auth-path-smtp-relay.gmail.com=>service-account@example.com=>password> 
    # -- Optional: SMTP credentials for upstream authentication.
    smtpdUpstream:
      # -- Only configure if additionalConfig.saslAuth.smtpdUpstream.enabled == true
      accounts: <your-auth-path-smtp-relay.gmail.com=>service-account@example.com=>password>  
  headers:
    # -- Only configure if standardConfig.headers.xHeaderAuthEnabled == true
    xHeaderAuthSecret: "<your-auth-secret-123456789>"  
  # -- DKIM signing configuration. Highly recommended.
  # -- See https://support.virtru.com/hc/en-us/articles/24643801445527-Customer-Hosted-Kubernetes-DKIM-Signing.
  dkimSigning:
    # -- Public DKIM key used to verify signature.
    # -- Set additionalConfig.dkimSigning.enabled to true if configuring GW for DKIM.
    publicKey: |
      <dkim-public-key>  
    # -- Private DKIM key used to sign outbound emails.
    privateKey: |
      <dkim-private-key>  

# -- Additional GW configs.
# -- See https://support.virtru.com/hc/en-us/articles/6204097329175-Reference-Kubernetes-Variables for reference.
additionalConfig:
  saslAuth:
    smtpDownstream:
      enabled: false  
      securityOptions: noanonymous  
    smtpdUpstream:
      enabled: false  
      mechanisms: PLAIN  
  maxQueueLifetime: 5m  
  maxBackoffTime: 45s  
  minBackoffTime: 30s  
  queueRunDelay: 30s  
  smtpdUseTls: true  
  smtpdSecurityLevel: opportunistic  
  smtpdTlsComplianceUpstream:
    enabled: false
    compliance: MEDIUM  
  smtpUseTls: true  
  smtpSecurityLevel: opportunistic  
  smtpTlsComplianceDownstream:
    enabled: false
    compliance: MEDIUM  
  cks:
    keyProvider: CKS  
    sessionKeyExpiry: "360"  
  dlpRuleCache: "30"  
  tlsPolicyMaps:
    enabled: false  
    policyMaps: example.com=>none,example.net=>maybe  
  replaceFromEnabled: "1" 
  decryptPfpFiles: "1"  
  decryptThenEncrypt: "0"  
  proxyProtocol: "0"  
  verboseLogging: "0"  
  cacheSmtpConnections:
    enabled: true  
    connectionCacheTimeLimit: 5s  
  dkimSigning:
    enabled: false  
    selector: gw 

# -- Optional proxy configuration for routing traffic through a proxy server.
# -- Only configure these values if your Gateway needs to route traffic through a proxy.
proxyConfig:
  # -- Hostname or IP address of HTTP proxy server (optional)
  httpProxyHost: ""
  # -- Port for HTTP proxy (optional, defaults to 80 if host is specified)
  httpProxyPort: ""
  # -- Hostname or IP address of HTTPS proxy server (optional)
  httpsProxyHost: ""
  # -- Port for HTTPS proxy (optional, defaults to 443 if host is specified)
  httpsProxyPort: ""

# -- Optional Istio configurations. Defaults to false.
istioIngress:
  enabled: false
  # -- Use an existing istio gateway
  existingGateway:
  # -- Name of istio gateway selector
  gatewaySelectors: 
    istio: ingress
  # -- Add FQDN, as best practice.
  ingressHostnames: 
    - "*" 
  name: scp