{
    "clusters" : [{
        "type": "hsm1",
        "cluster":{
            "hsm_ca_file": "/opt/cloudhsm/etc/cloudhsm-pkcs11-ro/customerCA.crt",
            "servers":[
                {
                    "hostname": "<HSM_ENI_IP_1>",
                    "port": 2223,
                    "enable": true
                },
                {
                    "hostname": "<HSM_ENI_IP_2>",
                    "port": 2223,
                    "enable": true
                }
            ]
        }
    }],
    "logging": {
        "log_type": "file",
        "log_file": "/opt/cloudhsm/run/cloudhsm-pkcs11.log",
        "log_level": "info",
        "log_interval": "daily"
    }
}