{{- if and .Values.gatewayModes.inboundDecrypt.enabled (not .Values.additionalConfig.abac.enabled) }}
kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: gateway
  name: {{ .Chart.Name }}-{{ .Values.gatewayModes.inboundDecrypt.name }}
data:
  GATEWAY_MODE: "decrypt-everything"
  GATEWAY_TOPOLOGY: "inbound"
  GATEWAY_REPLACEMENT_FROM_ENABLED: {{ .Values.additionalConfig.replaceFromEnabled | quote }}
  GATEWAY_DECRYPT_PERSISTENT_PROTECTED_ATTACHMENTS: {{ .Values.additionalConfig.decryptPfpFiles | quote }}
{{- end }}



